{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia : Edit
{% endblock %}

{% block body %}
    <form action="{% url 'edit_post' %}" method="post"> 
        {% csrf_token %}
        <h3>Editing : {{ title }}</h3>
        <input type="hidden" name="title" value="{{ title }}"
        <br>

        <div>
        <textarea name="content" placeholder="Write about your entry in Markdown." rows="4" cols="50">{{ content }}</textarea>
        </div>
        <br>
        <br>

        <button type="submit">Submit</button>
        <br>
        <br>

        <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Basic writing and formatting syntax.</a>
    </form>
{% endblock %}